<body>
    <div class="container">
        <div class="navbar">
            <div class="title">
                <h2>HR</h2>
            </div>
            <div class="btn-info">
                <button><i class="fa-regular fa-user"></i> Username</button>
            </div>
        </div>
        <div class="side-nav"><br>
            <p>กำหนดวันที่เริ่มทำตารางเวร</p>
            <p>กำหนดชั่วโมงการทำงาน</p>
            <p>คำนวณชั่วโมงโอที</p>
            <p>ส่งเอกสารพนักงาน</p>
            <p>แก้ไขตารางเวร</p>
            <p>เงื่อนไขตารางเวร</p>
            <p>บันทึกข้อมูลการเเลกเปลี่ยน</p>
            <p>ส่งเอกสาร</p>
        </div>
    </div>
</body>