<body>


    <div class="container">
        <div class="topnav">
            <div class="logo">
                <a href="#"><img src="../../../assets/images/logo-sch-bg.png" alt=""></a>
            </div>
            <nav>
                <div class="containerdrop">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa-solid fa-circle-user"></i> {{ username }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/account-page">ข้อมูลส่วนตัว</a></li>
                            <li style="width:120px ;"><a (click)="logout()">ออกจากระบบ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="sidenav">
            <a href="/main-page-hr">ตารางเวร</a>
            <a href="/edit-schedule-page">กำหนดตารางเวรการทำทาน</a>
            <a href="/shift-schedule-page">ตารางเวรของแต่ละแผนก</a>
            <!-- <a href="#">คำนวณชั่วโมงโอที</a> -->
            <a href="/documents-page">ส่งเอกสารพนักงาน</a>
            <!-- <a href="#">แก้ไขตารางเวร</a>
            <a href="#">เงื่อนไขตารางเวร</a> -->
            <a href="/work-shift-page">บันทึกข้อมูลการเเลกเปลี่ยน</a>
        </div>
    </div>


</body>