@use "sass:math";

$xs-breakpoint: 321px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

@mixin style_for($point) {
  @if $point == xs_lower {
    @media only screen and (max-width: ($xs-breakpoint - 1px)) {
      @content;
    }
  }
  @else if $point == xs_upper {
    @media only screen and (min-width: $xs-breakpoint) {
      @content;
    }
  }

  @if $point == sm_lower {
    @media only screen and (max-width: ($sm-breakpoint - 1px)) {
      @content;
    }
  }
  @else if $point == sm_upper {
    @media only screen and (min-width: $sm-breakpoint) {
      @content;
    }
  }

  @else if $point == md_lower {
    @media only screen and (max-width: ($md-breakpoint - 1px)) {
      @content;
    }
  }
  @else if $point == md_upper {
    @media only screen and (min-width: $md-breakpoint) {
      @content;
    }
  }

  @else if $point == lg_lower {
    @media only screen and (max-width: ($lg-breakpoint - 1px)) {
      @content;
    }
  }
  @else if $point == lg_upper {
    @media only screen and (min-width: $lg-breakpoint) {
      @content;
    }
  }

  @else if $point == xl_lower {
    @media only screen and (max-width: ($xl-breakpoint - 1px)) {
      @content;
    }
  }
  @else if $point == xl_upper {
    @media only screen and (min-width: $xl-breakpoint) {
      @content;
    }
  }

  @else if $point == md_lg {
    @media only screen and (min-width: $md-breakpoint) and (max-width: ($lg-breakpoint - 1px)) {
      @content;
    }
  }
  @else if $point == sm_md {
    @media only screen and (min-width: $sm-breakpoint) and (max-width: ($md-breakpoint - 1px)) {
      @content;
    }
  }
}

@mixin image_ratio($w, $h){
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    padding-bottom: math.div($h, $w) * 100%;
  }
  img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}