<body>
  <div class="header">
    <app-header-hd></app-header-hd>
  </div>

  <div class="_displayFlex-modifier">
    <div style="padding: 8px;" class="_title">
      <h1><span>กำหนดเวรการทำงานของแผนก</span></h1>


    </div>
    <div class="_addDepartment-workShifts">
      <div class="_cardLeft">
        <!-- Table list name  -->
        <h1 style="background-color: #A6313F;padding: 8px 12px;color: #fff;">รายชื่อพนักงาน</h1>
        <table>
          <thead>
            <tr>
              <td>ลำดับ</td>
              <td>ชื่อ - นามสกุล</td>
              <td>ตำแหน่ง</td>
              <td>การกำหนดเวรารทำงาน</td>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let user of users; let i = index">
              <td>{{i+1}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.department}}</td>
              
              <ng-container *ngFor="let item of schedules">
                
                <td *ngIf="user.username != item.username ">
                  <button  (click)="selectUser(user._id)">
                    <i class="fa-solid fa-plus" ></i>
                  </button>
                </td>

                <td *ngIf="user.username == item.username" class="_btnSetStyle">
                  <div class="_EditBtns">
                    <p>กำหนดแล้ว</p>
                    <button>
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                  </div>
                </td>
              </ng-container>
              
            </tr> -->
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td>{{ user.department }}</td>
            
              <td>
                <ng-container *ngIf="!isUserScheduled(user.username); else assigned">
                  <button (click)="selectUser(user._id)">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </ng-container>
                <ng-template #assigned>
                  <div class="_EditBtns">
                    <p>กำหนดแล้ว</p>
                    <button (click)="selectUser(user._id)">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                  </div>
                </ng-template>
              </td>
            </tr>
            
            <!-- <tr>
              <td>1</td>
              <td>11</td>
              <td>11</td>
              <td class="_btnSetStyle">
                <div class="_EditBtns">
                  <p>กำหนดแล้ว</p>
                  <button>
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </div>
              </td>
            </tr> -->
          
          </tbody>
        </table>
      </div>

      <div class="_cardRight">
        <div class="_shiftOfMonth">
          <!-- Shifts Foem Hr -->
          <h1 style="background-color: #A6313F;padding: 8px 12px;color: #fff;">เงื่อนไขประจำเดือน</h1>

          <table>
            <thead>
              <tr>
                <td>ชื่อเงื่อนไข</td>
                <td>รายละเอียดเงื่อนไข</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shifts of typeOfShift">
                <td>{{shifts.NameOfType}}</td>
                <td *ngIf="shifts.NameOfType == 'D'">กลางวัน</td>
                <td *ngIf="shifts.NameOfType == 'N'">กลางคืน</td>
                <td *ngIf="shifts.NameOfType != 'N' && shifts.NameOfType != 'D'">เทส</td>
              </tr>
              
            </tbody>
          </table>
        </div>

        <div class="_status">
          <!-- Show Status of month -->
          <h1 style="background-color: #A6313F;padding: 8px 12px;color: #fff;">ตารางเวรที่ผ่านมา</h1>
          <p>ยังไม่มีการกำหนดตารางเวร</p>

        </div>
      </div>
    </div>

    <div  class="_checkAndsubmit">
      <!-- Check Table before send to hr -->
      <h1>รายละเอียดเวรการทำงานของแต่ละบุคคล</h1>

      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>ชื่อ - สกุล</th>
            <th *ngFor="let day of [].constructor(30); let i = index">{{ i + 1 }}</th>
            <th class="_total">D</th>
            <th class="_total">N</th>
            <th class="_total">รวม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedules; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ userss[schedule.username]?.firstName || 'Loading...' }} {{ userss[schedule.username]?.lastName ||
              'Loading...' }}</td>
            <!-- <td>{{ schedule.department }}</td> -->
            <td *ngFor="let day of [].constructor(30); let j = index">
              {{ getShiftForDate(schedule, j + 1) }}
            </td>
  
            <td class="_total">{{ getDShiftsForSchedule(schedule) }}</td>
            <td class="_total">{{ getNShiftsForSchedule(schedule) }}</td>
            <td class="_total">{{ getDNShiftsForSchedule(schedule) }}</td>
  
  
          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <div *ngIf="toggel" class="_popupSetWorkShifts">
    <div class="_popupSetWorkShiftsDetail">
      <h2>นาย {{selectedUser.firstName}} {{selectedUser.lastName}}</h2>
      <h2>ประจำเดือน {{ currentMonthName }} {{ currentYear }}</h2>
     

      <div class="table-container"><form (ngSubmit)="onSubmit()">
        
          <!-- <label for="username">Username:</label>
          <input type="text" id="username" #username required>
      
          <label for="department">Department:</label>
          <input type="text" id="department" #department required> -->
      
          <table border="1">
            <thead style="position: sticky; top: 0; background-color: #f3f3f3; z-index: 1;">
              <tr >
                <th>วันที่</th>
                <ng-container *ngFor="let shifts of typeOfShift">
                    <th *ngIf="shifts.NameOfType == 'D'">กลางวัน ({{shifts.ameOfType}})</th>
                    <th *ngIf="shifts.NameOfType == 'N'">กลางคืน ({{shifts.NameOfType}})</th>
                    <th *ngIf="shifts.NameOfType != 'N' && shifts.NameOfType != 'D'">เทส ({{shifts.NameOfType}})</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let date of daysInMonth">
                <td [class.weekend]="isWeekend(date)" style="background-color: skyblue;">{{ date }}</td>
                <td>
                  <label class="full-cell">
                    <input type="radio" [name]="'shift' + date" value="D" [(ngModel)]="selectedOptions[date]"
                      (change)="onSelectOption(date, 'D')">
                   
                  </label>
                </td>
                <td>
                  <label class="full-cell">
                    <input type="radio" [name]="'shift' + date" value="N" [(ngModel)]="selectedOptions[date]"
                      (change)="onSelectOption(date, 'N')">
                   
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
      
          <button type="submit">Submit</button>
        </form>
      </div>

    </div>
  </div>

</body>