@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    font-family: 'Kanit';

    .navbar {
        width: 100vw;
        display: flex;
        background-color: #285430;
        color: #fff;
        justify-content: space-between;
        padding: 15px 25px;
        align-items: center;
        .title{
                img{
                    height: 75px;
                    width: 200px;
                    filter: invert(1);
                }
        }

        button {
            background-color: #285430;
            color: #fff;
            padding: 7px 14px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            
        }
    }

    .side-nav {
        display: flex;
        background-color: #E5D9B6;
        width: 100vw;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        a{
        text-decoration: none;
        color: #000;
        }
        p {
            margin: 0;
            padding: 15px 20px;
            cursor: pointer;
            transition: .2s ease-in-out;
        }
        p:hover{
            background-color: #285430d4;
            color: #E5D9B6;
        }
    }
}