<body>
    <div class="container">
        <div class="navbar">
            <div class="title">
                <a href="#"><img src="../../../assets/images/logo-sch-bg.png" alt=""></a>
            </div>
            <div class="btn-info">
                <button style="display:flex ; align-items: center;  gap: 20px;"><i class="fa-regular fa-user"></i> Username</button>
            </div>
        </div>
        <div class="side-nav"><br>
            <a href="/document-b-page"> <p>เอกสาร</p></a>
            <a href="/main-page-board"> <p>รายชื่อพนักงาน</p></a>
            
        </div>
    </div>
</body>