<body>
    <div class="header">
        <app-header-hd></app-header-hd>
    </div>

    <div class="container-table">
        <div class="header-title">
            <h3>รายชื่อพนักงาน</h3>
            <div class="status-table">
                <div class="total-user" >
                    <p style="text-align:start ;">พนักงานทั้งหมด</p>
                    <p style="text-align:center;font-size: 32px; ">{{length}}</p>
                    <p style="text-align:end ;">คน</p>
                </div>
            </div>
        </div>
    
        <div class="data-table">
            <div class="filter-head">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" [(ngModel)]="name" pInputText placeholder="Search" class="form-control">
                    <button type="button" (click)="searchName()">search</button>
                </span>
                <div class="drp" style="display: flex;align-items: center; gap: 20px;">
                    <h5 style=" font-family: 'Kanit'!important;font-size: 18px;margin-top: 15px;">เรียงตาม</h5>
                <p-dropdown [options]="cities" optionLabel="name" style="outline:none;"></p-dropdown>
                </div>
            </div>
            <div class="card"  [ngClass]="expression ? 'onclick' : 'card-onclick'">
                <h5>รายชื่อพนักงาน </h5>
                <p-table [value]="[user_all]"  [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                    [tableStyle]="{'min-width': '75rem'}" currentPageReportTemplate="" [rowsPerPageOptions]="[5,10,15]">
                    <ng-template pTemplate="header">
                        <tr style="text-align:center ;">
                            <th style="width:10%;text-align:center ;">No.</th>
                            <th style="width:30%;text-align:center ;">รายชื่อ</th>
                            <th style="width:15%;text-align:center ;"> ติดต่อ</th>
                            <th style="width:25%;text-align:center ;"> ประเภทเวรการทำงาน</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-products>
                        <tr *ngFor="let user_alls of user_all; let i = index" [class.active]="i == currentIndex"
                        (click)="setActiveUserAlls(user_alls, i)">
                            <td style="text-align:center ;font-family: 'Kanit'!important;">{{i+1}}</td>
                            <td style="text-align:center ;font-family: 'Kanit'!important;">{{user_alls.firstname}} {{user_alls.lastname}}</td>
                            <td style="text-align:center ;"> {{user_alls.tal}}
                            <td style="text-align:center ;"> เวรเช้า  or เวรเย็น
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                    </ng-template>
                </p-table>
            </div>
        </div>
        
    </div>

</body>
