@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: 'Kanit'!important;

    .header-title {
        width: 90%;
        display: flex;
        justify-content: space-between;
        .depart-name{
            font-family: 'Kanit';
            border: 3px solid #285430;
            color: #ffffff;
            background-color: #285430;
            display: flex;
            width: 350px;
            height: 150px;
           justify-content: center;
            align-items: center;
            border-radius: 16px;
            font-size: 36px;
            font-weight: 500;
        }
        padding: 25px 30px;
        display: flex;
        gap:50px;
        align-items: center;

        .data-list{
          .list-document_name{
            .list-doc{
             
            }
          }
            .p-input-icon-left{
                display: flex;
                gap: 10px;
                input{
                    height: 45px;
                }
                input:focus{
                    outline: #E5D9B6;
                }
                input:hover{
                    border:1px solid #E5D9B6;
                }
                button{
                    border:1px solid #0f0e0e00;
                    border-radius: 4px;
                    background-color: #285430;
                    padding: 7px 12px;
                    color: #fff;
                    transition: 0.1s ease-in;
                }
                button:hover{
                    background-color: #fff;
                    color: #285430;
                    border:1px solid #285430;
                }
            }
        }
    }

    .data-table{
        width: 90%;
        .card {
            
            border: 1px solid #285430;
            h5 {
                font-family: 'Kanit'!important;
                padding:15px 20px;
                background-color: #285430;
                color: #fff;
                font-size: 18px;
            }
        }
      
    }
    
 * th{
    background-color: #285430;
    color: #fff;
    font-family: 'Kanit'!important;
 }
}


::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #285430!important;
}

   
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background:#fff !important;
}


::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
}

///Focus
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #E5D9B6!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #E5D9B6;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #E5D9B6;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #E5D9B6;
}


///invalid ไม่มี value
::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #ff33cc!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #ff33cc;
}