<div class="card">
     <div class="title">
        <h1> รายละเอียดการเเลกเปลี่ยน </h1>
     </div>
     <div class="details">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, in officia quam quae quibusdam assumenda quo, voluptatem error blanditiis esse at voluptas? Beatae cum possimus fuga error nihil culpa labore.
        Reprehenderit nulla laborum, nesciunt recusandae, est expedita sequi itaque illo laudantium quisquam nobis quia autem incidunt porro enim? Eos doloremque quaerat facilis, ullam vel sequi tempore dolore vitae quasi maiores?</p>
           <div class="btn-group">
            <button>ยืนยัน</button>
            <button>ยกเลิก</button>
           </div>
    </div>
</div>
