<body>
    
    <div class="container">
        <div class="title-head">
            <h2> Login or Sign up </h2>
            <img src="../../../assets/images/login.png" alt="">
        </div>
        <div class="input-form-area">
            <h3>Welcome to Schedule</h3>
            <input type="text" placeholder="username or email">
            <input type="password" placeholder="********">
            <button type="submit">เข้าสู่ระบบ</button>
            <p>ยังไม่มีบัญชีผู้ใช้งาน ? <span><a href="/register-page" style="color:#90CAF9;">สร้างบัญชีผู้ใช้งาน</a></span></p>
        </div>
    </div>
</body>