@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: 'Kanit' !important;

    .header-title {
        width: 90%;
        display: flex;

        h3 {
            font-family: 'Kanit';
            border: 3px solid #31A69F;
            color: #31A69F;
            display: flex;
            width: 350px;
            height: 150px;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            font-size: 36px;
            font-weight: 500;
        }

        padding: 25px 30px;
        display: flex;
        gap:50px;
        justify-content: space-between;
        align-items: center;

        .status-table {
            display: flex;
            gap: 50px;
            align-items: flex-end;

            a {
                text-decoration: none;
            }

            // .edit{
            //     background-color: brown;
            //     color: #fff;
            //     text-decoration: none;
            //     padding: 10px 22px;
            //     border-radius: 8px;
            //     font-size: 16px;
            //     cursor: pointer;
            // }

            .total-confirm {
                justify-content: space-evenly;
                display: flex;
                flex-direction: column;

                .edit {
                    text-align: center;
                    background-color: #E1AE24;
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 22px;
                    border-radius: 8px;
                    font-size: 16px;
                    cursor: pointer;
                }

                .edit-list {
                    background-color: darkorchid;
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 22px;
                    border-radius: 8px;
                    font-size: 16px;
                    font-family: 'Kanit' !important;
                    cursor: pointer;
                }
            }

            .total-user {
                line-height: 30px;
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                background-color: #34a1e0;
                color: #fff;
                padding: 20px 22px;
                border: none;
                border-radius: 16px;
                cursor: pointer;
            }
        }
    }

    .data-table {
        width: 90%;

        .filter-head {

            padding: 10px 0;
            display: flex;
            justify-content: space-between;

            .drp {
                display: flex;
                align-items: center;
                gap: 16px;
                position: relative;
                padding: 0 4px;
                width: 150px;
                background: #31A69F;
                border-radius: 8px;

                h5 {
                    font-family: "Kanit" !important;
                    font-size: 16px;
                    margin-top: 15px;
                    width: 50%;
                    font-weight: bold;
                }

                .sortBy_ul {
                    position: absolute;
                    list-style: none;
                    bottom: -80px;
                    right: 0;
                    background: #fff;
                    z-index: 9;
                    width: 150px;
                    border: 1px solid;
                    border-radius: 4px;

                    li {
                        cursor: pointer;
                        padding: 8px;
                    }

                    li:hover {
                        background: #31A69F;
                    }
                }

                button {
                    background: #fff;
                    border: none;
                    width: 50%;
                    border-radius: 4px;
                    height: 85%;
                }
            }

            .p-input-icon-left {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                button {
                    color: #fff;
                    border: none;
                    background-color: #31A69F;
                    border-radius: 4px;
                    padding: 7px 12px;
                    transition: 0.1s ease-in;
                }

                button:hover {
                    background-color: #fff;
                    color: #31A69F;
                    border: 1px solid #31A69F;
                }
            }

            input {
                height: 45px;
            }
        }

        .card {

            border: 1px solid #31A69F;

            .header_table {
                position: relative;

                h5 {
                    font-family: 'Kanit' !important;
                    padding: 15px 20px;
                    background-color: #31A69F;
                    color: #fff;
                    font-size: 18px;
                }

                .add_user {
                    position: absolute;
                    top: 10px;
                    right: 16px;
                    border: none;
                    border-radius: 8px;
                    padding: 4px 10px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

        }

        .card-onclick {

            border: 1px solid darkorchid;

            h5 {
                font-family: 'Kanit' !important;
                padding: 15px 20px;
                background-color: darkorchid;
                color: #fff;
                font-size: 18px;
            }
        }
    }

    * th {
        font-family: 'Kanit' !important;
    }
}

.popup_add_user  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;

    .content_popup {
        background-color: #fff;
        padding: 36px 24px;
        border-radius: 16px;
        width: 540px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i.fa-xmark {
            position: absolute;
            right: 20px;
            top: 16px;
            cursor: pointer;
        }

        .detail {

            .detail_left,
            .detail_right {
                display: flex;
                flex-direction: column;
                button{
                    background: #fff;
                    border: none;
                }
            }

            .btn_group {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                button {
                    padding: 4px 16px;
                    border: none;
                    border-radius: 16px;
                    width: 150px;
                    transition: .25s ease;
                    font-size: 16px;
                }
                button:hover{
                    opacity: .7;
                }
            }
        }
    }
}

.popup_add_user_success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;

    .content_popup {
        background-color: #fff;
        padding: 36px 24px;
        border-radius: 16px;
        width: 320px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

::ng-deep .mat-dialog-container {
    background-color: #ffffff !important;
    color: #000;
}

@media(max-width:1350px) {

    .container {
        .data-table {
            .card {
                border: 1px solid #31A69F;

                h5 {
                    display: none !important;
                }
            }
        }
    }

    ::ng-deep .p-datatable-thead {
        display: none !important;
    }

    ::ng-deep .p-datatable>.p-datatable-wrapper {
        overflow: hidden !important;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;

    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 2rem 0;
    }

    tr:nth-child(odd) {
        background: #fff;
    }

    td:nth-child(1) {
        background: #31A69F;
        color: #fff;
    }

    td:nth-child(5) {
        background: transparent !important;
    }


    td {
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25% !important;

        .dropdow-table .mat-form-field {
            margin-top: 0px;
        }

    }

    td:before {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "ชื่อ";

    }

    td:nth-of-type(2):before {
        content: "แผนก";

    }

    td:nth-of-type(3):before {
        content: "Role";

    }

    td:nth-of-type(4):before {
        content: "Email";
    }

    td:nth-of-type(5):before {
        content: "Username";
    }

    td:nth-of-type(6):before {
        content: "วันที่";
    }

    td:nth-of-type(7):before {
        content: "ติดต่อ / แก้ไขข้อมูล";
    }



}