@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid #d5d5d5;
   border-radius: 16px;
    margin: 150px auto;
    padding: 25px;
    width: 550px;
    height: auto;
    .title-head{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        img{
            width: 150px;
            height: 150px;
        }
        h3{
            font-family: 'Kanit';
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            color: #090909;
            padding: 10px 0;
        }
    }
    .input-form-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        input,select{
            border-radius: 16px;
            margin: 5px 0;
            padding: 7px 20px;
            width: 250px;
            height: 35px;
            border: 1px solid #d5d5d5;
        }
        select:focus{
            border: 1px solid #90CAF9;
        }
        input:focus{
            border: 1px solid #90CAF9;
        }
        p{
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #4B5F6B;
        }
        
    }
    .button-group{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 250px;
        button{
            background-color: #90CAF9;
            border: none;
            padding: 10px 25px;
            border-radius: 16px;
            cursor: pointer;
            color: #090909;
        }
        a{
            text-align: center;
            width: 110px;
            background-color: #90CAF9;
            border: none;
            padding: 10px 25px;
            border-radius: 16px;
            cursor: pointer;
            font-size: 12px;
            text-decoration: none;
            color: #090909;
        }
    }
    
}