@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// .container{
//     border: 2px solid #d5d5d5;
//    border-radius: 16px;
//     margin: 150px auto;
//     padding: 25px;
//     width: 550px;
//     height: auto;
//     .title-head{
//         justify-content: center;
//         align-items: center;
//         display: flex;
//         flex-direction: column;
//         img{
//             width: 150px;
//             height: 150px;
//         }
//         h3{
//             font-family: 'Kanit';
//             font-style: normal;
//             font-size: 16px;
//             line-height: 24px;
//             color: #090909;
//             padding: 10px 0;
//         }
//     }
//     .input-form-area{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         input,select{
//             border-radius: 16px;
//             margin: 5px 0;
//             padding: 7px 20px;
//             width: 250px;
//             height: 35px;
//             border: 1px solid #d5d5d5;
//         }
//         select:focus{
//             border: 1px solid #90CAF9;
//         }
//         input:focus{
//             border: 1px solid #90CAF9;
//         }
//         p{
//             font-family: 'Kanit';
//             font-style: normal;
//             font-weight: 400;
//             font-size: 12px;
//             line-height: 18px;
//             color: #4B5F6B;
//         }

//     }
//     .button-group{
//         margin-top: 10px;
//         display: flex;
//         justify-content: space-evenly;
//         width: 250px;
//         button{
//             background-color: #90CAF9;
//             border: none;
//             padding: 10px 25px;
//             border-radius: 16px;
//             cursor: pointer;
//             color: #090909;
//         }
//         a{
//             text-align: center;
//             width: 110px;
//             background-color: #90CAF9;
//             border: none;
//             padding: 10px 25px;
//             border-radius: 16px;
//             cursor: pointer;
//             font-size: 12px;
//             text-decoration: none;
//             color: #090909;
//         }
//     }

// }
//Dialog status 
.dialog-alert-status {
    background: rgba(9, 9, 9, 0.3);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    .dialog-content {
        background-color: #f4f4f4;
        width: 450px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 25px 40px 25px;
        border-radius: 4px;

        p {
            font-size: 16px;
        }

        i {
            position: fixed;
            top: 15px;
            right: 15px;
            padding: 5px 10px;
            color: #4B5F6B;
            cursor: pointer;
            font-size: 24px;
        }

        .detail-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            h3 {
                font-size: 20px;
                color: #090909;
                width: 100%;
                text-align: center;
                padding-bottom: 25px;
                border-bottom: 1px solid #4B5F6B
            }


            .popup_status_succeed {}

            .popup_status_unsucceed {}

        }
    }
}






body {
    overflow: hidden;
    // background: rgb(0,212,255);
    // background: linear-gradient(353deg, rgba(0,212,255,1) 13%, rgba(9,9,121,1) 100%);
}

img {
    width: 100%;
    overflow: hidden;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px 20px 50px 20px;
    margin: 0px auto;
    width: 550px;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        width: 100%;
        font-weight: 700;
        color: #90CAF9;
    }

    .form-register-card {
        width: 100%;
        padding: 16px 0;
        display: flex;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
            color: #90CAF9;
          }

        .item-left {
            width: 75%;
            display: flex;
            gap: 25px;
            flex-direction: column;
        }

        .item-right {
            width: 75%;
            gap: 25px;
            display: flex;
            flex-direction: column;
        }

        .mat-form-field {
            outline: none;
        }

    }

    button {
        width: 90%;
        // background: rgb(0,212,255);
        // background: linear-gradient(353deg, rgba(0,212,255,1) 13%, rgba(9,9,121,1) 100%);
        height: 50px;
        color: #000000;
        border: none;
        border-radius: 4px;

    }

    .submit_css{
        background-color: #90CAF9;
        transition: .25s ease-in-out;
    }
    .submit_css:hover{
        opacity: .7;
    }
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;

        h1 {
            text-align: center;
        }

        .form-register-card {
            padding: 24px 0;

            .item-left,
            .item-right {
                width: 90%;
            }
        }
    }


}