<body>
        <div class="topnav">
            <div class="logo">
                <a href="#"><img src="../../../assets/images/logo-sch-bg.png" alt=""></a>
            </div>
            <nav>
                <div class="containerdrop">
                    <div class="dropdown">
                        <button class=" dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa-solid fa-circle-user"></i> 
                      <span class="caret">{{userData}}</span>
                    </button>
                        <ul class="dropdown-menu">
                            <li><a href="/account-page" style="  color: #fff;">ข้อมูลส่วนตัว</a></li>
                            <li style="width:120px ;">
                                
                                <a style="color: #fff;cursor: pointer;" (click)="logout()">ออกจากระบบ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
        <!-- <div class="sidenav">
            <a href="/main-page-it" routerLinkActive="active" >รายชื่อพนักงาน</a>
            <a href="/confirmation-page" routerLinkActive="active">ยืนยันการสมัคร</a>
       <a href="/permission-page" routerLinkActive="active">กำหนดสิทธิ์</a> 
        </div> -->

        <!-- <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">
                <div class="list-nav">
                    <a href="/main-page-it" routerLinkActive="active" >รายชื่อพนักงาน</a>
                    <a href="/main-page-it/confirmation-page" routerLinkActive="active">ยืนยันการสมัคร</a>
                    <a href="/main-page-it/permission-page" routerLinkActive="active">กำหนดสิทธิ์</a>
                </div>
            </mat-drawer>
          
            <div class="example-sidenav-content">
              <button type="button" mat-button (click)="drawer.toggle()">
                <i class="fa-solid fa-bars"></i>
              </button>
            </div>
          
          </mat-drawer-container> -->
</body>