<body>
    <div class="container">
        <div class="topnav">
            <div class="logo">
                <a href="#">IT</a>
            </div>
            <nav>
                <div class="containerdrop">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                      <i class="fa-solid fa-circle-user"></i> Username
                      <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu">
                            <li><a href="/account-page">ข้อมูลส่วนตัว</a></li>
                            <li style="width:120px ;"><a href="#">ออกจากระบบ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="sidenav">
            <a href="/main-page-it" routerLinkActive="active" >ตารางเวร</a>
            <a href="/main-page-it/list-name-page" routerLinkActive="active">รายชื่อพนักงาน</a>
            <a href="/main-page-it/confirmation-page" routerLinkActive="active">ยืนยันการสมัคร</a>
            <a href="/main-page-it/permission-page" routerLinkActive="active">กำหนดสิทธิ์</a>
            
        </div>
    </div>
</body>