@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: 'Kanit'!important;

    .header-title {
        width: 90%;
        display: flex;
        justify-content: space-between;
        .depart-name{
            font-family: 'Kanit';
            border: 3px solid #5F8D4E;
            color: #ffffff;
            background-color: #5F8D4E;
            display: flex;
            width: 350px;
            height: 150px;
           justify-content: center;
            align-items: center;
            border-radius: 16px;
            font-size: 36px;
            font-weight: 500;
        }
        padding: 25px 30px;
        display: flex;
        gap:50px;
        align-items: center;

        .data-list{
          .list-document_name{
            .list-doc{
             
            }
          }
            .p-input-icon-left{
                display: flex;
                gap: 10px;
                input{
                    height: 45px;
                }
                input:focus{
                    outline: #E5D9B6;
                }
                input:hover{
                    border:1px solid #E5D9B6;
                }
                button{
                    border:1px solid #0f0e0e00;
                    border-radius: 4px;
                    background-color: #5F8D4E;
                    padding: 7px 12px;
                    color: #fff;
                    transition: 0.1s ease-in;
                }
                button:hover{
                    background-color: #fff;
                    color: #5F8D4E;
                    border:1px solid #5F8D4E;
                }
            }
        }
    }

    .data-table{
        width: 90%;
        .card {
            
            border: 1px solid #5F8D4E;
            h5 {
                font-family: 'Kanit'!important;
                padding:15px 20px;
                background-color: #5F8D4E;
                color: #fff;
                font-size: 18px;
            }
        }
      
    }
    
 * th{
    background-color: #5F8D4E;
    color: #fff;
    font-family: 'Kanit'!important;
 }
 .click_seemore{
    text-align:center ;
    text-decoration: underline;
    cursor: pointer;
    transition: .25s ease;
 }
 .click_seemore:hover{
    opacity: .7;
 }
}


@media(max-width:1200px) {

    .mat-dialog-container {
        min-width: 380px !important;
    }
    .click_seemore{
        text-align:start !important;
     }

    .container-table {
        .header-title {
            gap: 16px;
            flex-direction: column;
        }
    }

    ::ng-deep .p-datatable-thead {
        display: none !important;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;

    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 2rem 0;
    }

    tr:nth-child(odd) {
        background: #fff;
    }

    td:nth-child(1) {
        background: #5F8D4E;
        color: #fff;
    }

    td:nth-child(5) {
        background: transparent !important;
    }


    td {
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 25% !important;

        .dropdow-table .mat-form-field {
            margin-top: 0px;
        }

    }

    td:before {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "ชื่อ-นามสกุล";

    }

    td:nth-of-type(2):before {
        content: "แผนก";

    }

    td:nth-of-type(3):before {
        content: "ประเภทเอกสาร";

    }

    td:nth-of-type(4):before {
        content: "วันที่";
    }

    td:nth-of-type(5):before {
        content: "สถานะ";
        display: none;
    }

    // td:nth-of-type(6):before {
    //     content: "วันที่";
    // }

    // td:nth-of-type(7):before {
    //     content: "ติดต่อ / แก้ไขข้อมูล";
    // }

   ::ng-deep .p-datatable-table {
        min-width: none !important;
    }


}



::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: #5F8D4E!important;
}

   
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background:#fff !important;
}


::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
}

///Focus
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #E5D9B6!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #E5D9B6;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #E5D9B6;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #E5D9B6;
}


///invalid ไม่มี value
::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #ff33cc!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #ff33cc;
}