
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: 'Kanit' !important;

    .header-title {
        h3 {
            font-family: 'Kanit' !important;
            border: 3px solid #E1AE24;
            color: #E1AE24;
            display: flex;
            width: 500px;
            height: 150px;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            font-size: 36px;
            font-weight: 500;
        }
width: 90%;
        padding: 25px 30px;
        display: flex;
        gap:50px;
        justify-content: space-between;
        align-items: center;

        .status-table {
            display: flex;
            gap: 50px;
            align-items: flex-end;

            .btn_link{
                text-align: center;
                background-color: #31A69F;
                color: #fff;
                text-decoration: none;
                padding: 10px 22px;
                border-radius: 8px;
                font-size: 16px;
                cursor: pointer;
            }

            .total-confirm {
                line-height: 30px;
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                background-color: #3493e0;
                color: #fff;
                padding: 20px 22px;
                border: none;
                border-radius: 16px;
            }

            .total-user {
                line-height: 30px;
                width: 200px;
                height: 150px;
                display: flex;
                flex-direction: column;
                background-color: #e03434;
                color: #fff;
                padding: 20px 22px;
                border: none;
                border-radius: 16px;
            }
        }
    }

    .data-table {
        width: 90%;
        .filter-head {
            padding: 10px 0;
            display: flex;
            justify-content: space-between;


            .drp {
                display: flex;
                align-items: center;
                gap: 16px;
                position: relative;
                padding: 0 4px;
                width: 150px;
                background: #E1AE24;
                border-radius: 8px;

                h5 {
                    font-family: "Kanit" !important;
                    font-size: 16px;
                    margin-top: 15px;
                    width: 50%;
                    font-weight: bold;
                }

                .sortBy_ul {
                    position: absolute;
                    list-style: none;
                    bottom: -80px;
                    right: 0;
                    background: #fff;
                    z-index: 9;
                    width: 150px;
                    border: 1px solid;
                    border-radius: 4px;

                    li {
                        cursor: pointer;
                        padding: 8px;
                    }

                    li:hover {
                        background: #E1AE24;
                    }
                }

                button {
                    background: #fff;
                    border: none;
                    width: 50%;
                    border-radius: 4px;
                    height: 85%;
                }
            }

            input {
                height: 45px;
            }

            .p-input-icon-left {
                display: flex;
                align-items: center;
                gap: 10px;
                button{
                    color: #fff;
                    border: none;
                    background-color:  #E1AE24;
                    border-radius: 4px;
                    padding: 7px 12px;
                    transition: .1s ease-in;
                }
                button:hover{
                    background-color: #fff;
                    color: #E1AE24;
                    border:1px solid #E1AE24;
                }
            }
        }

        .card {
            border: 1px solid #E1AE24;

            h5 {
                padding: 15px 20px;
                background-color: #E1AE24;
                color: #fff;
                font-size: 18px;
                font-family: 'Kanit' !important;
            }
        }
    }

    * th,
    td {
        font-family: 'Kanit' !important;
    }

}