<body>
    <div class="container">
        <div class="navbar">
            <div class="title">
                <h2>ชื่อแผนก</h2>
            </div>
            <div class="btn-info">
                <button style="display:flex ; align-items: center;  gap: 20px;"><i class="fa-regular fa-user"></i> Username</button>
            </div>
        </div>
        <div class="side-nav"><br>
            <p>รายชื่อพนักงาน</p>
            <p>เวรการทำงานของแผนก</p>
            <p>กำหนดประเภทเวรการทำงาน</p>
            <p>เอกสารต่าง ๆ</p>
            <p>ยืนยันเอกสาร</p>
            
        </div>
    </div>
</body>