<div class="form">
    <h3>
        ข้อมูลส่วนตัว
    </h3>
    <div class="input-section">
        <div class="item-left">
            <div class="item">
                <label for="">ชื่อ-นามสกุล</label>
                <input type="text" placeholder="Apinan Limlampai">
            </div>
            <div class="item">
                <label for="">ที่อยู่</label>
                <input type="text" placeholder=" 25 ม.1 ... ">
            </div>
            <div class="item">
                <label for="">วัน / เดือน / ปีเกิด</label>
                <input type="date">
            </div>
            <div class="item">
                <label for="">วันเข้าทำงาน</label>
                <input type="date">
            </div>
        </div>
        <div class="item-right">
            <div class="item">
                <label for="">เบอร์โทร</label>
                <input type="text" placeholder="099-999-5587">
            </div>
            <div class="item">
                <label for="">e-mail</label>
                <input type="text" placeholder="email-Am@gmail.com">
            </div>
            <div class="item">
                <label for="">วุฒิการศึกษา</label>
                <input type="text" placeholder="...">
            </div>
            
        </div>
    </div>
    <div class="btn-group">
        <button>ยืนยัน</button>
        <button>ยกเลิก</button>
    </div>
</div>