<div class="form">

 
            <h3>
                ข้อมูลส่วนตัว  <span style="color: #31A69F;">( {{user_all.firstName}} {{user_all.lastName}} )</span>
            </h3>
        
            
            <div class="input-section">
                <div class="item-left">
                    <div class="item">
                        <label for="">ชื่อ</label>
                        <input [(ngModel)]="firstname" type="text" placeholder="{{user_all.firstName}}">
                    </div>
                   
                    <div class="item">
                        <label for="">ที่อยู่</label>
                        <input  type="text" placeholder=" 25 ม.1 ... ">
                    </div>
                    <div class="item">
                        <label for="">วัน / เดือน / ปีเกิด</label>
                        <input type="date">
                    </div>
                    <div class="item">
                        <label for="">วันเข้าทำงาน</label>
                        <input type="date">
                    </div>
                </div>
                <div class="item-right">
                     <div class="item">
                        <label for="">นามสกุล</label>
                        <input [(ngModel)]="lastname"  type="text" placeholder=" {{user_all.lastName}}">
                    </div>
                    <div class="item">
                        <label for="">แผนก</label>
                        <input [(ngModel)]="tal" type="text" placeholder="{{user_all.department}}">
                    </div>
                    <div class="item">
                        <label for="">e-mail</label>
                        <input disabled="true" [(ngModel)]="email" type="text" placeholder="{{user_all.email}}">
                    </div>
                    <div class="item">
                        <label for="">วุฒิการศึกษา</label>
                        <input  type="text" placeholder="...">
                    </div>
        
                    <div class="item">
                        <label for="">กำหนดสิทธิ์</label>
                        <input disabled="true" [(ngModel)]="email" type="text" placeholder="{{user_all.role}}">
                    </div>
                    
                </div>
            </div>
            <div class="btn-group">
                <button (click)="update(user_all._id)">ยืนยัน</button>
                <button>ยกเลิก</button>
            </div>


   
</div>