* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {

    width: 100vw;
}

.calendar {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .container {
        .tableSetting {
            // display: none !important;
        }
    }
}