* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.header{
    width: 100vw;
    position: relative;
}
.calendar{
    position: absolute;
    top: 85px;
    left: 365px;
    margin: 0 50px;
}


