* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{ 
    
    width: 100vw;
}
.calendar{
    position: absolute;
    top: 100px;
    left: 400px;
    margin: 0 auto;
    .container{
        .tableSetting{
            // display: none !important;
        }
    }
}


